header {
  border: 1px green solid;
}

main {
  border: 1px blue solid;
  height: 50vh;
}

footer {
  border: 1px red solid;
}

main .brand {
  border: 1px black dotted;
}

main .form {
  border: 1px black dotted;
}

main .account-info {
  margin: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  width: 320px;
  background-color: yellow;
}

main .account-info .input {
  background-color: rgb(165, 165, 234);
}
