body {
  background-image: url(./assets/wp1913729.jpg);
  background-size: cover;
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #444;
}
header {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 130px;
  height: 50px;
  padding: 20px;
}

header .text {
  text-align: right;
  font-size: 12px;
  line-height: 20px;
}

header button {
  float: right;
  width: 120px;
  height: 40px;
  font-size: 15px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}

p {
  margin: 0;
}

button {
  background: rgb(72, 204, 83);
  border: #0077c5;
  border-radius: 4px;
  text-transform: capitalize;
  color: white;
}

a {
  color: #1378ee;
  text-decoration: none;
}

.subletter {
  font-size: 10px;
}

main {
  margin: 20px 0;
}

main h1 {
  font-size: 42px;
  font-weight: bold;
  color: #888;
  margin: 10px 0;
}

main .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

main .brand img {
  height: 20px;
  margin-left: 5px;
}

main .brand span {
  margin: 0 5px;
  font-size: 18px;
  color: #888;
}

main form {
  background-color: white;
  width: 380px;
  border: 1px rgb(199, 199, 199) solid;
  padding-top: 25px;
}

main form fieldset {
  border: none;
}

main form .title {
  margin-bottom: 20px;
}

main form .title p {
  font-size: 24px;
  font-weight: 400;
}

main form .subtitle {
  width: 300px;
  line-height: 20px;
  font-size: 13px;
}

main .account-info {
  margin: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  width: 320px;
  font-size: 14px;
  color: rgb(41, 39, 39);
}

main .account-info label {
  text-align: left;
  padding: 15px 0;
}

main .account-info input {
  border-radius: 2px;
  border: 1px solid #cccccc;
  margin: 8px 0;
  width: 320px;
  height: 22px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
}

main .account-info input:focus {
  box-shadow: 0px 0px 8px 2px #00cc66;
}

#password {
  background: url(./assets/password.png);
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 20px 20px;
}

main .account-action button {
  width: 330px;
  height: 44px;
  font-size: 18px;
}

main .account-action button i {
  margin: 0 8px;
}

main form .statement {
  line-height: 20px;
  font-style: italic;
  font-size: 12px;
  color: grey;
  margin: 35px;
}

main form .disclaim {
  background-color: #eceef1;
  height: 50px;
  line-height: 50px;
  color: rgb(150, 150, 150);
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
  color: rgb(100, 100, 100);
  line-height: 18px;
}

footer div {
  padding: 0 40px;
}
